@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fantasy F1</h1>
    <p class="lead">Fantasy F1 is a competition for F1 fans all around the world. Select your favorite Driver, Team and Motor and compete in various competitions with many prizes! So, register and create your roster now!</p>
    <p><a href="/rosters/create" class="btn btn-primary btn-lg">Create your roster! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Driver points</h2>
        <p>
            Driver points are calculated depending on each driver's expected finish and actual finish for each race. In the beginning, the expected finish is calculated based on last season's finish, but might change over the season.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Team points</h2>
        <p>Team points are very similar to driver points, except they are based on the mean of finishes of each driver. Then, the points get multiplied by 2.</p>
    </div>
    <div class="col-md-4">
        <h2>Motor points</h2>
        <p>Motor points are calculated this way: 1st place gets 1000 points, 2nd place 750, 3rd 500 and 250 for the 4th. These points cand be a real game changer, as they are applied after the last race of the season.</p>
    </div>
</div>
<br />
<div>
    You can create more than one roster, but once you create one, it cannot be changed! Do not forget: the roster with most points/$ wins the big prize, so manage your money wisely!
</div>
<br />
<br />
<br />
<h2>
    Don't miss these races to see how your rosters does!
</h2>
<img style="width: 80%; margin: auto;" src="Images\calendar.jpg" />


